@model IEnumerable<MVC_Assessment.Models.Course>

@{
    ViewData["Title"] = "Login";
}
@{
    <h1>Login</h1>


    <div>


       <form>

            <td>
                <a asp-route-id="Batch">Batch</a> |
                <a asp-route-id="Course">Course</a> |
                <a  asp-route-id="User">User</a>
            </td>
        </form>
    </div>
}